<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
  <h1>{{review_details.title}}</h1> <br>
  <h3>Movie: {{review_details.movie}}</h3><br>
  <p>Create Date: {{review_details.created_date}}</p>
  <p>Author: {{review_details.author}}</p> <br>
  <p>Content: </p>
  <p>{{review_details.content}}</p> <br>
  <br>
</div>


<div class="container">
  <h3>Comments:</h3>
</div>

{% for comment in review_details.comments.all %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          {{comment.author}}, {{comment.comment_date}}
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {{comment.content}}
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}