<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="jumbotron">
  <h1>Welcome to the List of Reviews Page!</h1>
</div>

{% for review in review_list %}
<div class="card" style="width: w-100;">
  <div class="card-body">
    <h5 class="card-title"><a href="{{review.id}}/">{{review.title}}</a></h5>
    <p class="card-text">by {{review.author}}</p>
    <a href="{{review.id}}" class="btn btn-primary">Read More</a>
  </div>
</div>
{% endfor %}
<br><br>

<!-- TODO: Paination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


{% endblock %}