<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
  <h1>{{review_details.title}}</h1> <br>
  <h3>Movie: {{review_details.movie}}</h3><br>
  <p>Create Date: {{review_details.created_date}}</p>
  <p>Author: {{review_details.author}}</p> <br>
  <p>Content: </p>
  <p>{{review_details.content}}</p> <br>
  <br>
</div>

<div class="container">
  <h3>Comments:</h3>
</div>

<div class="jumbotron">
  {% for comment in review_details.comments.all %}
  <p>{{comment.author}}, {{comment.comment_date}}</p>
  <p> {{comment.content}} </p>
  {% endfor %}
</div>





{% endblock %}