<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
    <h1>About Us</h1>
</div>
<p></p>
<div class="jumbotron">
    <p>As a movie fan, do you often browse the latest movie list but find out there is nothing that really interests
        you? Do
        you want to share your own feelings with everyone other than just friends? Would you like to meet those who have
        similar
        tastes with you?</p> <br>

    <p>In the era of entertainment, there are more and more movies coming out every minute, while its harder and harder
        for us
        to make personalized choices. The media has made blockbusters everywhere for young and old, women and men, but
        it is not
        aware of what is suitable for a group of people just like you. No matter how fair and diligent the expert review
        writers
        are, their help cannot be effective for everyone. A recommendation from like-minded friends not only convey
        their true
        feelings, but also include judgments out of their tastes. Unfortunately, even you try to get suggestions from
        all of
        your friends and family, what they have seen are still limited, and the people with the most similar tastes are
        often
        strangers.</p> <br>

    <p>We, founders of MoviEnjoy, want to provide a platform for you to filter the other “YOU” from thousands of people
        and
        share your opinions with “YOU”. We are not aimed at a certain group of audience and strive to be inclusive. No
        matter
        who you are and what you like, we are glad to help you to get to know confidants and find more interesting
        movies
        through them.</p>

</div>

{% endblock %}